html {
  background: #f7f7f7;
}

body {
  font-size: 14px;
  font-family: 'Barlow', sans-serif;
  color: rgb(49, 46, 46);
  background: white;
  margin: 0 auto;
  padding: 50px 20px ;
  text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 800px) {
  body {
    max-width: 1000px;
    text-align: left;
  }
}